variables:
  CONTAINER_IMAGE: docker.dhbw.chd.cx/$CI_PROJECT_PATH

stages:
- pre_build
- analysis
- build
- test

unittest:
  image: golang:1.10
  stage: pre_build
  services:
    - mongo
  variables:
    MONGODB_URL: mongodb://mongo
    MONGODB_DB: savood
  script:
    #- env
    - ls -al
    - mkdir -p /go/src/git.dhbw.chd.cx/$CI_PROJECT_PATH
    - cp -a $CI_PROJECT_DIR/. /go/src/git.dhbw.chd.cx/$CI_PROJECT_PATH/
    #- ln -s /go/src/git.dhbw.chd.cx/$CI_PROJECT_PATH /go/src/_/builds/$CI_PROJECT_PATH
    - cd /go/src/git.dhbw.chd.cx/$CI_PROJECT_PATH
    - pwd
    - ls -al
    # Install Linting
    #- go get -u golang.org/x/lint/golint
    # Install dep
    - go get -u github.com/golang/dep/cmd/dep
    # Linting
    #- golint -set_exit_status $(go list ./... | grep -v /vendor/)
    # dependencies
    - dep ensure
    # Check the Go code for common problems with 'go vet'
    - go vet $(go list ./... | grep -v /vendor/)
    # Run all tests included with our application
    - go test $(go list ./... | grep -v /vendor/)

sonarqube:
  stage: analysis
  image: ciricihq/gitlab-sonar-scanner
  variables:
    SONAR_URL: "https://sonar.chd.cx/"
    SONAR_PROJECT_VERSION: "$CI_BUILD_ID"
    SONAR_GITLAB_PROJECT_ID: $CI_PROJECT_ID
    SONAR_PROJECT_KEY: $CI_PROJECT_PATH_SLUG
    SONAR_ANALYSIS_MODE: "issues"
    SONAR_SOURCES: '.'
  script:
   - /usr/bin/sonar-scanner-run.sh

sonarqube-reports:
  stage: analysis
  image: ciricihq/gitlab-sonar-scanner
  variables:
    SONAR_URL: "https://sonar.chd.cx/"
    SONAR_PROJECT_VERSION: "$CI_BUILD_ID"
    SONAR_GITLAB_PROJECT_ID: $CI_PROJECT_ID
    SONAR_PROJECT_KEY: $CI_PROJECT_PATH_SLUG
    SONAR_ANALYSIS_MODE: "publish"
    SONAR_SOURCES: '.'
  script:
   - unset CI_BUILD_REF && /usr/bin/sonar-scanner-run.sh
  only:
   - master

build:
  image: docker:latest
  services:
   - docker:dind
  stage: build
  script:
   #- env
   - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN docker.dhbw.chd.cx
   - docker pull $CONTAINER_IMAGE:latest || true
   - docker build --cache-from $CONTAINER_IMAGE:latest --tag $CONTAINER_IMAGE:$CI_BUILD_REF --tag $CONTAINER_IMAGE:latest .
   - docker push $CONTAINER_IMAGE:$CI_BUILD_REF
   - docker push $CONTAINER_IMAGE:latest
  only:
   - master

buildStaging:
  image: docker:latest
  services:
   - docker:dind
  stage: build
  script:
   #- env
   - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN docker.dhbw.chd.cx
   - docker pull $CONTAINER_IMAGE:latest || true
   - docker build --cache-from $CONTAINER_IMAGE:latest --tag $CONTAINER_IMAGE:$CI_BUILD_REF .
   - docker push $CONTAINER_IMAGE:$CI_BUILD_REF
  except:
   - master


test:
  image: docker:latest
  services:
   - docker:dind
  stage: test
  script:
    - apk add --no-cache py-pip
    - pip install docker-compose
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN docker.dhbw.chd.cx
    - docker-compose -f test-docker-compose.yml up -d
