variables:
  CONTAINER_IMAGE: docker.dhbw.chd.cx/$CI_PROJECT_PATH

stages:
- pre_build
- build
- test

unittest:
  image: golang:1.10
  stage: pre_build
  services:
    - mongo
  variables:
    MONGODB_URL: mongodb://mongo
    MONGODB_DB: savood
  script:
    #- env
    - ls -al
    - mkdir -p /go/src/git.dhbw.chd.cx/$CI_PROJECT_PATH
    - cp -a $CI_PROJECT_DIR/. /go/src/git.dhbw.chd.cx/$CI_PROJECT_PATH/
    #- ln -s /go/src/git.dhbw.chd.cx/$CI_PROJECT_PATH /go/src/_/builds/$CI_PROJECT_PATH
    - cd /go/src/git.dhbw.chd.cx/$CI_PROJECT_PATH
    - pwd
    - ls -al
    # Install Linting
    - go get -u github.com/golang/lint/golint
    # Install dep
    - go get -u github.com/golang/dep/cmd/dep
    # Linting
    - golint -set_exit_status $(go list ./... | grep -v /vendor/)
    # dependencies
    - dep ensure
    # Check the Go code for common problems with 'go vet'
    - go vet $(go list ./... | grep -v /vendor/)
    # Run all tests included with our application
    - go test $(go list ./... | grep -v /vendor/)

build:
  image: docker:latest
  services:
   - docker:dind
  stage: build
  script:
   #- env
   - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN docker.dhbw.chd.cx
   - docker pull $CONTAINER_IMAGE:latest || true
   - docker build --cache-from $CONTAINER_IMAGE:latest --tag $CONTAINER_IMAGE:$CI_BUILD_REF --tag $CONTAINER_IMAGE:latest .
   - docker push $CONTAINER_IMAGE:$CI_BUILD_REF
   - docker push $CONTAINER_IMAGE:latest
  only:
   - master

buildStaging:
  image: docker:latest
  services:
   - docker:dind
  stage: build
  script:
   #- env
   - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN docker.dhbw.chd.cx
   - docker pull $CONTAINER_IMAGE:latest || true
   - docker build --cache-from $CONTAINER_IMAGE:latest --tag $CONTAINER_IMAGE:$CI_BUILD_REF .
   - docker push $CONTAINER_IMAGE:$CI_BUILD_REF
  except:
   - master


test:
  image: docker:latest
  services:
   - docker:dind
   - mongo
  variables:
      MONGODB_URL: mongodb://mongo
      MONGODB_DB: savood
  stage: test
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN docker.dhbw.chd.cx
    - docker run -d -p 8080:8080 -e MONGODB_URL=$MONGODB_URL -e MONGODB_DB=$MONGODB_DB --name test_container $CONTAINER_IMAGE:$CI_BUILD_REF
    - sleep 10
    - docker ps -a
    - docker logs test_container
    - wget --server-response localhost:8080/v2/healthcheck -O ip-current 2>&1| grep -c 'HTTP/1.1 200 OK'
